# من Aiven -> Services -> اختار الداتابيز بتاعتك -> Overview -> Connection details
DB_HOST=your-service-name.aivencloud.com
DB_PORT=your-port-number
DB_USER=avnadmin
DB_PASSWORD=CHANGE_ME
DB_NAME=defaultdb
DB_SSL=true
PORT=3000
